# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage
.cache
.eslintcache

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Env files
.env*


# Build output
.next
.nuxt
dist
build

# VS Code
.vscode/*
